.login-page {
  padding: 60rpx 40rpx;
  min-height: 100vh;
  box-sizing: border-box;
  background: #fff;

  .header {
    text-align: center;
    margin-bottom: 80rpx;

    .main-title {
      font-size: 40rpx;
      font-weight: bold;
      color: #333;
      margin-bottom: 20rpx;
    }

    .sub-title {
      font-size: 28rpx;
      color: #666;
    }
  }

  .form-box {
    .input-item {
      height: 88rpx;
      border-bottom: 1rpx solid #eee;
      margin-bottom: 20rpx;
      border-radius: 8rpx;
      padding: 0 20rpx;
      height: 80rpx;
      display: flex;
      align-items: center;

      input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 28rpx;
      }
    }

    .password-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8rpx;
      padding: 0 20rpx;
      height: 80rpx;
      margin-bottom: 20rpx;

      .password-input {
        flex: 1;
        /* 输入框占据剩余空间 */
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 28rpx;
        /* 确保输入框不会挤压图标 */
        min-width: 0;
      }

      .eye-icon {
        padding: 0 10rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon-text {
          font-size: 32rpx;
          line-height: 1;
        }
      }

      // .forget-password {
      //   font-size: 24rpx;
      //   color: #007aff;
      //   /* 蓝色 */
      //   white-space: nowrap;
      //   margin-left: 10rpx;
      //   /* 与眼睛图标保持间距 */
      // }

      input {
        width: 80%;
        /* 输入框占 80% */
      }

      .forget-password {
        width: 20%;
        /* 链接占 20% */
        text-align: right;
        font-size: 24rpx;
        color: #007aff;
        /* 蓝色 */
        line-height: 80rpx;
        /* 垂直居中，与 input 高度一致 */
        cursor: pointer;
      }
    }

    .login-btn {
      width: 100%;
      height: 88rpx;
      background: #007aff;
      color: #fff;
      border-radius: 44rpx;
      font-size: 32rpx;
      margin-bottom: 30rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .link-row {
      text-align: center;

      .link {
        font-size: 28rpx;
        color: #007aff;
      }
    }
  }
}